body {
    padding: 20px 0;
}

.flash-message {
    margin-top: 20px;
}
div.uppercase {
		text-transform: capitalize;
}
div.text {
  display: inline-block;
}

div.inside-float:nth-of-type(odd){
  width: 50%;
  float: left;
}

div.inside-float:nth-of-type(even){
  width: 50%;
  float: right;
}
